/*! CUSTOM PROPERTIES */

:root{
    --header-footer-color: rgb(44,62,80);
    --main-color: rgb(26,188,156);
    --footer-secondary-color: rgb(58,84,109);
    --link: rgb(29,180,152);
}

/*+ DEBUG - REMOVE */

.debug{
    border: 1px dashed black ;
}

.debug.red{
    border-color: red;
}

.debug.yellow{
    border-color: yellow;
}

.cs-height-xss{
    height: 3rem;
}

.cs-height-xs{
    height: 5rem;
}

.cs-height-sm{
    height: 10rem;
}

.cs-height-md{
    height: 15rem;
}

.cs-height-lg{
    height: 20rem;
}

.cs-height-xl{
    height: 30rem;
}

/*! GENERICS */

body{
    color: white;
}

section:nth-child(odd) {
    background-color: var(--main-color);
}

section:nth-child(even){
    color: black;
}

.bar{
    flex: 0 0 40%;
    height: 5px;
    background-color: currentColor;
    border-radius: 2.5px;
}

.bi-star-fill{
    font-size: 2rem;
}

/*! HEADER */

header{
    height: 5rem;
    background-color: var(--header-footer-color);
}

/*! JUMBOTRON */

#jumbotron img{
    max-width: 50%;
}

#jumbotron h1{
    font-size: 2.5rem;
    font-weight: bold;
}

#jumbotron p{
    font-size: calc(0.8rem + 0.5vh);
}

/*! ABOUT US SECTION */

#about p{
    font-size: calc(1rem + 0.5vh);
    font-weight: bold;
}

/*! FOOTER */

.footer-top{
    background-color: var(--footer-secondary-color);
}

.footer-bottom{
    background-color: var(--header-footer-color);
    height: 8rem;
}

footer h6{
    line-height: 8rem;
}

footer li{
    display: inline-block;
    margin: 0 0.2rem;
}

footer .btn{
    width: 40px;
    height: 40px;
    text-align: center;
}

footer i{
    line-height: 40px;
}

footer .col:last-child a{
 color: var(--link);
 text-decoration: none;
}